<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <form method="post">
        <label>Фамилия и инициалы автора (без пробела между инициалами):</label>
        <br />
        <input type="text" name="fio" value="Бондаренко Б.П." />
        <br />
        <br />
        <input type="submit" value="Построить соавторскую сеть" />
    </form>
</body>
</html>
